<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="animate-me">
  <ion-button expand="fullscreen" (click)="callAnime()">Anime.js</ion-button>
  <!-- <ion-button expand="block" (click)="doMagic()">Magic CSS</ion-button>
  <ion-button expand="block" (click)="animateItems()">Anime.css</ion-button>
  <ion-button expand="block" (click)="bounce()">Bounce</ion-button>
  <ion-button expand="block" (click)="flip()">Number Flip</ion-button> -->

</div>

</ion-content>
