



<ion-header >
  <ion-toolbar class="toolbar">
    <ion-toolbar class="toolbar">

      <ion-breadcrumb  href="#electronics"><ion-icon slot="start" name="chevron-back-outline" size="large" ></ion-icon></ion-breadcrumb>




    <ion-button slot="end" shape="round" fill="outline" color="light" >SUBMIT</ion-button>


  </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <ion-grid>
    <ion-row>
        <ion-col >

             <div class="chip-div">

                <ion-chip class="chip" >
                    <ion-label>1</ion-label>
                  </ion-chip>

                  <ion-chip  class="chip">
                    <ion-label>2</ion-label>
                  </ion-chip>

                  <ion-chip  class="chip">
                    <ion-label>3</ion-label>
                  </ion-chip>

                  <ion-chip  class="chip">
                    <ion-label>4</ion-label>
                  </ion-chip>

                  <ion-chip  class="chip">
                    <ion-label>5</ion-label>
                  </ion-chip>

                  <ion-chip  class="chip">
                    <ion-label>6</ion-label>
                  </ion-chip>


        </div>





        <ion-card class="card">




          <h3 class="question">2.</h3>

          <br>

          <h3 class="question"  ><strong> First Man To Visit Space?</strong></h3>

              <div class="button-div" >

                <div class="buttons , button1" >
                  <ion-button color="medium" shape="round" expand="full" expand="full" fill="outline"  > <strong class="font-style">A. Neil Armstrong</strong>
                  <!-- <input class="pricing" type="checkbox" id="pricing" name="pricing" style="visibility: hidden;"> -->
                <!-- <label for="pricing"><span class="block-diff">1. ALMOND</span></label> -->
              </ion-button>
              </div>

              <div class="buttons" >
                <ion-button color="medium" shape="round" expand="full" expand="full" fill="outline" ><strong class="font-style">B. Yuri Gagarian</strong>
                <!-- <input class="pricing" type="checkbox" id="pricing" name="pricing" style="visibility: hidden;"> -->
              <!-- <label for="pricing"><span class="block-diff">2. CASHEW</span></label> -->
            </ion-button>
            </div>

            <div class="buttons" >
              <ion-button color="medium" shape="round" expand="full" expand="full" fill="outline" ><strong class="font-style">C. Buzz Aldrin</strong>
              <!-- <input class="pricing" type="checkbox" id="pricing" name="pricing" style="visibility: hidden;"> -->
            <!-- <label for="pricing"><span class="block-diff1">3. BADAM</span></label> -->
          </ion-button>
          </div>

          <div class="buttons" >
            <ion-button color="medium" shape="round" expand="full" expand="full" fill="outline" ><strong class="font-style">D. Nikita Kozlov</strong>
            <!-- <input class="pricing" type="checkbox" id="pricing" name="pricing" style="visibility: hidden;"> -->
          <!-- <label for="pricing"><span class="block-diff1">4. KHISMISH</span></label> -->
        </ion-button>
        </div>





              </div>


            </ion-card>





        </ion-col>
    </ion-row>
</ion-grid>


</ion-content>

